:root {
  --color-primary: #1e3a8a; /* Azul oscuro */
  --color-secondary: #3b82f6; /* Azul brillante */
  --color-accent: #60a5fa; /* Azul claro */
  --color-light: #e0f2fe; /* Celeste suave */
  --color-background: #f3f4f6; /* Gris muy claro */
  --color-neutral: #f9fafb; /* Blanco suave */
  --color-gris: #444444 ;
}
.form {
  margin-top: 100px !important;
  position: relative;
  max-width: 60%; /* Ancho ajustado al 60% de la pantalla */
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centrado automático */
}

.input-box {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px; /* Espacio entre los inputs */
  display: flex;
  flex-direction: column; 
}

.column-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se distribuyan en múltiples líneas */
}

.input-box {
  flex: 1 1 calc(50% - 20px); /* Dos columnas */
  margin: 5px; /* Espacio alrededor de cada columna */
}

.input-box label {
  color: #444444;
  font-weight: 400;
}

.form input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 75% !important;
  color: #555555;
  margin-top: 6px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 0 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form .input-box input:focus,
.form .input-box select:focus {
  border-color: var(--color-gris);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.form .button {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 0.9rem;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
}

.form .button:hover {
  background-color: var(--color-secondary);
  transform: scale(1.03);
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}

/* Estilos para las leyendas y el campo fieldset */
fieldset {
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; /* Espacio entre secciones */
}

legend {
  font-weight: bold;
  padding: 0 10px; /* Espacio alrededor del texto de la leyenda */
}
.titulo{
  color: #555555;
  font-size: 13px;
  text-align: center;
}
.img-little{
display: flex;
align-items: center;
justify-content: space-around;
}
.icono-form{
  width: 120px;
}
