:root {
  --color-primary: #172d6b;
  --color-secondary: #5190f5;
  --color-accent: #60a5fa;
  --color-light: #e0f2fe;
  --color-background: #f3f4f6;
}

body {
  background-color: var(--color-background);
  font-size: 16px;
}
.contenedor{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
/* CSS TABLA */
.cont-tabla {
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tabla {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tabla th,
.tabla td {
  border: 1px solid var(--color-primary);
  padding: 8px;
}

.tabla th {
  background-color: var(--color-secondary);
  color: white;
}

.tabla tr:nth-child(even) {
  background-color: var(--color-light);
}

.tabla tr:hover {
  background-color: var(--color-accent);
}

/* CSS BOTON ACCIONES */
.accion-button,
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.accion-button:hover,
.btn:hover {
  color: white;
}

/* CSS PAGINACION */
.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.btn-general :disabled {
  background-color: #282a30;
  color: #888; /* Color del texto del botón deshabilitado */
  cursor: not-allowed; /* Cambia el cursor para indicar que el botón está deshabilitado */
  opacity: 0.6; /* Ajusta la opacidad para mayor claridad */
}

.pagina-button {
  background-color: var(--color-neutral);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagina-button.activo {
  background-color: var(--color-secondary);
  color: white;
}

.pagina-button:hover {
  background-color: var(--color-light);
}
/* CSS BOTONES CREAR Y DESCARGAR */
.cont-crear-descargar {
  margin: 0 auto; 
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  gap: 10px;
}

.tittle {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}
.crear-beneficiario{
  margin: 10px;
  font-size: 13px;
  padding-left: 10px;
  min-width: 100px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.crear-beneficiario:hover{
  background-color: var(--color-secondary);
}
.btn-descargar {
  font-size: 13px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #45a049;
}
.FaPlus-icon,
.excel-icon {
  margin-right: 8px;
  font-size: 1.2em;
}

/* CSS FILTROS */
.filtros {
  background: red;
  display: flex;
  flex-wrap: wrap;
  padding: 10px; /* Agrega un padding para un espacio más suave */
  gap: 10px; /* Espacio entre los elementos dentro de .filtros */
}

.filtro {
  display: flex;
  flex-direction: column; /* Alinea el label y el input verticalmente */
  margin-right: 15px; /* Espacio entre los filtros */
  flex: 1 1 150px; /* Permite que cada filtro crezca con un ancho mínimo */
}

.filtro label {
  font-size: 0.9em; /* Tamaño de fuente más pequeño para las etiquetas */
  margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.filtro input, .filtro select {
  font-size: 13px; /* Tamaño de fuente más pequeño */
  padding: 5px; /* Agrega padding para un input más delicado */
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

.btn-filtros {
  background: yellow;
  padding: 8px 12px; /* Ajusta el padding para un botón más pequeño */
  border: none; /* Quita el borde por defecto */
  border-radius: 4px; /* Bordes redondeados para un estilo más suave */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Agrega una transición suave */
}

.btn-filtros:hover {
  background: orange; /* Cambia el color al pasar el mouse */
}

}
/* RESPONSIVE */
@media (max-width: 768px) {
  .cont-tabla, .tabla {
    max-width: 100%;
    width: 100%;
  }
}
