:root {
  --color-primary: #172d6b; /* Azul oscuro */
  --color-secondary: #5190f5; /* Azul brillante */
  --color-accent: #60a5fa; /* Azul claro */
  --color-light: #e0f2fe; /* Celeste suave */
  --color-background: #f3f4f6; /* Gris muy claro */
  --color-neutral: #f9fafb; /* Blanco suave */
}

body {
  background-color: var(--color-background); /* Aplicar color de fondo al body */
}

.cont-tabla {
  max-width: 80%;
  overflow-x: auto; /* Habilitar desplazamiento horizontal si es necesario */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Para aplicar el efecto de blur */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar el contenedor */
}

.cont-tabla::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Heredar el fondo del contenedor */
  filter: blur(10px); /* Aplicar el efecto de desenfoque */
  z-index: -1; /* Asegurar que quede detrás del contenido */
}

.tabla {
  width: 100%; /* Cambiado a 100% para adaptarse al contenedor */
  border-collapse: collapse;
  margin: 20px 0; /* Margen vertical para separación */
  font-size: 1em;
  text-align: center; /* Centrar texto */
}

.tabla th,
.tabla td {
  border: 1px solid var(--color-primary); /* Bordes azul oscuro */
  padding: 8px;
  text-align: center; /* Centrar contenido en las celdas */
}

.tabla th {
  background-color: var(--color-secondary);
  color: white;
}

.tabla tr:nth-child(even) {
  background-color: var(--color-light);
}

.tabla tr:hover {
  background-color: var(--color-accent);
}

.accion-button {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: var(--color-primary); /* Color del icono */
  font-size: 1.2rem; /* Tamaño del icono */
}

.accion-button:hover {
  color: white; /* Cambia el color al pasar el mouse */
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinear verticalmente */
  margin: 20px 0;
}

.pagina-button {
  background-color: var(--color-neutral);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px; /* Añadir bordes redondeados */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.pagina-button.activo {
  background-color: var(--color-secondary);
  color: white;
}

.pagina-button:hover {
  background-color: var(--color-light);
}

.paginacion button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.paginacion span {
  margin: 0 10px;
  font-size: 1em;
}
