/* Contenedor principal para contadores */
.contadores-cont {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
}

/* Contenedor de los contadores */
.contadores {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap; /* Permite la flexibilidad en pantallas más pequeñas */
  gap: 10px; /* Espacio entre los contadores */
}

/* Estilos específicos para cada contador */
.contador {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.contador:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contador svg {
  margin-right: 10px;
}

.contador div {
  text-align: left;
}

.contador h3 {
  font-size: 13px;
  color: #555;
  margin: 0;
}

.contador .numero {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}
