
:root {
  --color1: #FFC107;
  --color2: #FFEB3B;
  --color3: #CC29E8;
  --color4: #795548;
  --color5: #4CAF50;
  --color6: #B2FF59;
  --color7: white;
  --color8: black;
}


/* Contenedor principal del footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(33, 33, 33, 0.8);
  color: white;
  padding: 40px;
  flex-wrap: wrap;
}

/* Secciones del footer */
.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px; /* Asegura un mínimo ancho en pantallas pequeñas */
}

/* Títulos de las secciones del footer */
.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid var(--color5); /* Línea decorativa bajo el título */
  padding-bottom: 10px;
}

/* Estilo para los enlaces del footer */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Alinea el icono con el texto */
}

.footer-section ul li a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 8px; /* Espacio entre el icono y el texto */
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--color5);
}

/* Estilo para los iconos de redes sociales */
.social-icons {
  display: flex;
  gap: 15px; /* Espacio entre los iconos */
}

.social-icons li {
  list-style: none;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

/* Estilo para la parte inferior del footer */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #7f8c8d;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
