.history-back  {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Ajustar el botón en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 10px 10px; /* Margen externo */
    cursor: pointer; /* Cursor de mano */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  
  }
  .history-back:hover {
    background-color: #538655 ;
  }